
	<img class="center" src="/img/raiterosno.png" alt="Raiteros No! Logo">

  <div class="row">
    <div class="col-sm">
<div class ="center">

<h1 class="english">Stop Dangerous &AMP; Illegal Unlicensed Taxis <br> 
<h2 class="spanish">Prohibir Taxis Ilegales</h2>
<h4 class="text-center"><u><b>OTAY &AMP; SAN YSIDRO</b></u></h5>
<p>
  <h1 class="english"><u>DISTRICT ATTORNEY REPORT ON RAITERO POLICE SHOOTING &AMP; DEATH</u></h1> <br> 
<img class="img-fluid" src="/img/01.jpg" alt="Raiteros No! Logo"><br>
<img class="img-fluid" src="/img/02.jpg" alt="Raiteros No! Logo"><br>
  <h2 class="text-center">RAITERO</h2><br>
<img class="img-fluid" src="/img/03.jpg" alt="Raiteros No! Logo"><br>
  <h2 class="text-center">7/11 ON ROLL DRIVE STOLEN VEHICLE</h2><br>
<img class="img-fluid" src="/img/04.jpg" alt="Raiteros No! Logo"><br>
  <h2 class="text-center">METH LACED WITH FENTANYL</h2>
<h3 class="text-center"><a href="https://www.sdcda.org/content/MediaRelease/202212/22-037PS%20Corrales.pdf" target="_blank"><h3>Link to Full D.A. Report</h3></a>
<hr>
<h3 class="text-center"><a href="https://www.nbcsandiego.com/news/local/video-footage-of-deputys-fatal-shooting-of-auto-theft-suspect-released/2880889/" target="_blank"><h3>NBC News Report</h3></a>
<hr>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-5NwvQRzNxU?si=gRAb9f9GgKIjba-L" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h3 class="text-center">Sheriff Video on Youtube</h3>
<hr>
{{!-- <p>
<h3>
	<a href="http://www.kroegerfamilyproperties.com/contact_us">Contact</a> 7/11 Parking Lot Managers for Help</h3>
<h3 style="color:blue">
	<a href="http://www.kroegerfamilyproperties.com/contact_us">Contacto</a> aparcamento del 7/11 que ayuden</h3>
	<img class ="img-fluid" src="/img/contact.png"><br>
</p> --}}

<form class="form-horizontal" role="form"
    enctype="multipart/form-data" method="POST"
    action="/upload/{{year}}/{{month}}">
  <input type="hidden" name="_csrf" value="{{csrf}}">
  {{!-- <div class="form-group">
    <label for="fieldName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" 
      id="fieldName" name="name">
    </div>
  </div>
  <div class="form-group">
    <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" required 
          id="fieldEmail" name="email">
    </div>
  </div> --}}
  <div class="form-group">
		<label for="fieldPhoto" >
     <h4>
      UPLOAD PHOTOS 
      <br><span style="color:blue">SUBIR FOTOS:</span></h4>
 </label>   
      <input type="file" class="form-control" required  accept="image/*"
          id="fieldPhoto" name="photo">
    
  </div>
  <div class="form-group">
  <div class ="text-center">
      <button type="submit" class="btn btn-primary"><h2>SUBMIT</h2></button>
  </div>
  </div>
</form>

</p>

<hr>

	<h1 class="english">PHOTOS</h1>

    <div class ="text-center">

<img class="img-fluid" src="/img/fights.jpg" alt="Raiteros No! Logo">
  <h2 class="text-center">Fights</h2>
<hr>
<img class="img-fluid" src="/img/fakemts.jpg" alt="Raiteros No! Logo">
  <h3 class="text-center">Fake MTS Seals</h3>
<hr>
<img class="img-fluid" src="/img/rait2.jpg" alt="Raiteros No! Logo">
    <h3 class="text-center">Fake Lyft Clunkers</h3>
<hr>
  <img class="img-fluid" src="/img/2015before.jpg" alt="Raiteros No! Logo">
  <h4 class="text-center">2015-Taxi Line</h4>

<img class="img-fluid" src="/img/2023after.jpg" alt="Raiteros No! Logo">
  <h4 class="text-center">2024-Raitero Line</h4>
</hr>

<img class="img-fluid" src="/img/2023after2.jpg" alt="Raiteros No! Logo">
  <h3 class="text-center">Tent, "Open" Sign &AMP; Marijuana Smell</h3>

<p><p>
	<a href="/"><img class="center" src="/img/raiterosno.png" alt="Raiteros No! Logo"></a>

</div>

			</div>
		</div>
	</div>
